.parentForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}


.forms {
    width: 24%;
}

#submitButton{
    //nao consigo alinhar o botao no meio do form!!!
}