
<form [formGroup]="form" (ngSubmit)="submitForm()" class="parentForm">
  <mat-form-field appearance="fill" class="forms">
    <mat-label>Insira o nome do website</mat-label>
    <input type="text" matInput placeholder="Nome" formControlName="nome" required>
    <mat-error *ngIf="form.get('nome')?.hasError('required')">O nome é obrigatório</mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill" class="forms">
    <mat-label>Insira o URL do website</mat-label>
    <input type="text" matInput placeholder="URL" formControlName='url' required>
    <mat-error *ngIf="form.get('url')?.hasError('required')">O URL é obrigatório</mat-error>
    <mat-error *ngIf="form.get('url')?.hasError('pattern')">O URL não é válido</mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill" class="forms">
    <mat-label>Insira o URL de uma página do website</mat-label>
    <input type="text" matInput placeholder="Pagina" formControlName='page' required>
    <mat-error *ngIf="form.get('page')?.hasError('required')">O URL da página é obrigatório</mat-error>
    <mat-error *ngIf="form.get('page')?.hasError('pattern')">O URL da página não é válido</mat-error>
    </mat-form-field>

  <button class="submitButton" (click)="sendWebsite()" mat-raised-button type="submit" color="primary" [disabled]="form.invalid">Submeter</button>
</form>
<router-outlet></router-outlet>



<!-- esta parte seria para dar display a um dos websites
  <h2>{{website.name}} Details</h2>
<div><span>id: </span>{{website.id}}</div>
<div>
  <label for="URL">Website URL: </label>
  <input id="URL" [(ngModel)]="website.URL" placeholder="URL">
</div>

Aqui era para ter um botao add, para adicionar campos de adiçao de paginas dinamicamente
mas n consegui por isto a rolar ;(
<button class="addButton" mat-raised-button (click)="addForm = true"><mat-icon>add</mat-icon></button>
  <div *ngIf=addForm>
    <p>Novo form de adiçao de paginas</p>
 </div>

esta linha nao esta a funcioanr
 <mat-error *ngIf="checkDomains()">A página não pertence ao mesmo dominio do URL principal</mat-error>
  
-->