<mat-toolbar class="toolbar">
    <button (click)="drawer.toggle()" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>WebMaster</span>
    <span class="spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>
<body>
  <mat-drawer-container autosize>
    <mat-drawer #drawer opened="true" mode="side" position="start" style="background-color: rgba(226, 219, 219, 0.556)">
      <mat-nav-list>
        <mat-list-item class="menu-item">
            <button routerLink="/" mat-button><mat-icon>home</mat-icon> Webmaster</button>
        </mat-list-item>
        <mat-list-item class="menu-item">
            <button routerLink="/website" mat-button><mat-icon>add</mat-icon> Add Website</button>
        </mat-list-item>
        <mat-list-item class="menu-item">
            <button routerLink="/websites-table" class="focus" mat-button><mat-icon>analytics</mat-icon> View Websites</button>
        </mat-list-item>
        <mat-list-item class="menu-item">
            <button mat-button class="focus"><mat-icon>settings</mat-icon> Settings</button>
        </mat-list-item>
        <mat-list-item class="menu-item">
            <button mat-button><mat-icon>help</mat-icon> Help</button>
        </mat-list-item>
    </mat-nav-list>
    </mat-drawer>
    <mat-drawer-content>
        <div style="text-align: center;min-height: 600px;">
          <router-outlet></router-outlet>
        </div>
    </mat-drawer-content>
  </mat-drawer-container>
</body>

    
