.page-details {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    font-size: larger;
  }
  
  .page-info {
    flex: 1;
    padding-left: 30px;
  }
  
  h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
  }
  
  .info-item {
    margin-bottom: 10px;
    font-size: 18px;
  }
  
  .monitor-state {
    font-weight: bold;
    color: #ff6600; /* Laranja para estado de monitorização */
  }
  
  .mat-tree-node.main-node {
    padding: 5px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
  
    .info-item {
      margin-bottom: 5px;
    }
  
    .monitor-state {
      font-weight: bold;
      color: #ff6600; /* Laranja para estado de monitorização */
    }

    .node-name {
      margin-right: 115px; // Espaçamento entre o nome e o código
    }
  
    .node-code {
      font-size: 17px;
      position: absolute;
      right: 0;
      padding-right: 10px;
    }
  }
  

.mat-tree-node {
    font-size: 15px;
}

/* Mudar o cursor para pointer (mão) */
.mat-tree-node:hover {
  cursor: pointer;
  background-color: transparent;
}

  .back-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 6px 6px;
    padding-bottom: 2px;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s;
  
    &:hover {
      background-color: #0056b3;
    }
  }

  @import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0');
  .material-symbols-outlined {
    font-variation-settings:
      'FILL' 0,
      'wght' 400,
      'GRAD' 0,
      'opsz' 24;
  }

  .example-tree-invisible {
    display: none;
  }
  
  .example-tree ul,
  .example-tree li {
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;
  }
  
  /*
   * This padding sets alignment of the nested nodes.
   */
  .example-tree .mat-nested-tree-node div[role=group] {
    padding-left: 40px;
  }
  
  /*
   * Padding for leaf nodes.
   * Leaf nodes need to have padding so as to align with other non-leaf nodes
   * under the same parent.
   */
  .example-tree div[role=group] > .mat-tree-node {
    padding-left: 38px;
    font-size: 15px;
  }

  .node-name {
    font-size: 18px;
    color: #333;
}

.info-group {
  display: inline-flex;
}

.info-item-line {
  margin-right: 20px;
  margin-bottom: 10px;
  margin-top: 38px;
  font-size: 20px;
}


.passed {
  color: rgb(0, 161, 0);
}

.failed {
  color: red;
}

.warning {
  color: rgb(255, 208, 0);
}

.inapplicable {
  color: rgb(118, 118, 118);
}