<body>
    <div *ngIf="page" class="page-details">
      <button mat-icon-button (click)="goBack()" class="back-button">
        <span class="material-symbols-outlined">arrow_back</span>
      </button>
      <div class="website-info">
        <h2>{{ page.url }} details</h2>
        <div class="info-item">ID: {{ website._id }}</div>
        <div class="info-item">URL: {{ website.URL }}</div>
        <div class="info-item">Registration date: {{ website.register_date | date:'short' }}</div>
        <div class="info-item">Evaluation date: {{ website.eval_date | date:'short' }}</div>
        <div class="info-item">Monitoring state: <span class="monitor-state">{{ website.monitor_state }}</span></div>
        <div>
          <button mat-icon-button (click)="openDeleteDialog('0ms', '0ms', website._id)" class="back-button">
            <span class="material-symbols-outlined">delete</span>
          </button>
        </div>
        </div>
    </div>
</body>
    