<body>
<div *ngIf="website" class="website-details">
  <button mat-icon-button (click)="goBack()" class="back-button">
    <span class="material-symbols-outlined">arrow_back</span>
  </button>
  <div class="website-info">
    <h2>{{ website.name }} details</h2>
    <div class="info-item">ID: {{ website._id }}</div>
    <div class="info-item">URL: {{ website.URL }}</div>
    <div class="info-item">Registration date: {{ website.register_date | date:'short' }}</div>
    <div class="info-item">Evaluation date: {{ website.eval_date | date:'short' }}</div>
    <div class="info-item">Monitoring state: <span class="monitor-state">{{ website.monitor_state }}</span></div>
  </div>
<div>
  <button mat-icon-button (click)="deleteWebsite(website._id)" class="back-button">
    <span class="material-symbols-outlined">delete</span>
  </button>
</div>
<div>
  <form [formGroup]="form" (ngSubmit)="submitForm()" class="parentForm">
    <mat-form-field appearance="fill" class="forms">
      <mat-label>Insira o URL da página</mat-label>
      <input type="text" matInput placeholder="URL da página" formControlName="pageUrl" required>
      <mat-error *ngIf="form.get('pageUrl')?.hasError('required')">O URL da página é obrigatório</mat-error>
      <mat-error *ngIf="form.get('pageUrl')?.hasError('pattern')">O URL da página não é válido</mat-error>
    </mat-form-field>
    
    <button class="submitButton" mat-icon-button type="submit" color="primary" [disabled]="form.invalid">
      <span class="material-symbols-outlined">add</span>
    </button>
    
  </form>
</div>
  <div class="pages-menu">
    <h3>Pages</h3>
    <div *ngFor="let page of website.pages" class="page-item">
      <div class="info-item">{{ page.page_URL }}</div>
      <div class="info-item">Last evaluation date: {{ page.eval_date | date:'short' }}</div>
      <div class="info-item">Monitoring state: <span class="monitor-state">{{ page.monitor_state }}</span></div>
      <button mat-icon-button (click)="deletePage(page._id)">
        <span class="material-symbols-outlined">Delete Page</span>
      </button><button mat-icon-button (click)="startEvaluation(page._id)" class="back-button">
        <span class="material-symbols-outlined">Start Eval</span>
      </button>
    </div>
  </div>
</div>
</body>
