<body>
<div *ngIf="website" class="website-details">
  <button class="focus" mat-icon-button (click)="goBack()" class="back-button">
    <span class="material-symbols-outlined">arrow_back</span>
  </button>
  <div class="website-info">
    <h2>{{ website.name }} details</h2>
    <div class="info-item">ID: {{ website._id }}</div>
    <div class="info-item">URL: {{ website.URL }}</div>
    <div class="info-item">Registration date: {{ website.register_date | date:'short' }}</div>
    <div class="info-item">Evaluation date: {{ website.eval_date | date:'short' }}</div>
    <div class="info-item">Monitoring state: <span class="monitor-state">{{ website.monitor_state }}</span></div>
    
    <div *ngIf="error" class="info-group pdf_content">
      <div class="info-item-line passed">
          <span class="material-symbols-outlined">done_all</span> Pages without errors: {{ error.noError }} || {{ (error.noError / error.pagesEvaluated) * 100 | number: '1.2-2' }}%
      </div>
      <div class="info-item-line passed">
          <span class="material-symbols-outlined">cancel</span> Percentage of Pages with errors: {{ error.errors }} || {{ (error.errors / error.pagesEvaluated) * 100 | number: '1.2-2' }}%
      </div>
      <div class="info-item-line failed">
          <span class="material-symbols-outlined">counter_1</span> Pages with A level errors: {{ error.errorA }} || {{ (error.errorA / error.pagesEvaluated) * 100 | number: '1.2-2' }}%
      </div>
      <div class="info-item-line warning">
          <span class="material-symbols-outlined">counter_2</span> Pages with AA level errors: {{ error.errorAA }} || {{ (error.errorAA / error.pagesEvaluated) * 100 | number: '1.2-2' }}%
      </div>
      <div class="info-item-line inapplicable">
          <span class="material-symbols-outlined">counter_3</span> Pages with AAA level errors: {{ error.errorAAA }} || {{ (error.errorAAA / error.pagesEvaluated) * 100 | number: '1.2-2' }}%
      </div>
      <div class="info-item-line common-errors">
          <span class="material-symbols-outlined">emergency_heat</span> Most common errors: {{ error.commonErrors }}
      </div>
  </div>
  
  
    <div>
      <button class="focus pdf_content" mat-icon-button (click)="openDeleteDialog('0ms', '0ms', website._id)" class="delete-button">
        <span class="material-symbols-outlined">delete</span>
      </button>
    </div>
    <div>
      <form [formGroup]="form" (ngSubmit)="submitForm()" class="parentForm">
        <mat-form-field appearance="fill" class="forms">
          <mat-label>Insira o URL da página</mat-label>
          <input class="focus" type="text" matInput placeholder="Pagina" formControlName="pageUrl" required>
          <mat-error *ngIf="form.get('pageUrl')?.hasError('required')">O URL da página é obrigatório</mat-error>
        </mat-form-field>
    
        <button class="submit-button focus" mat-icon-button type="submit" color="primary" [disabled]="form.invalid">
          <span class="material-symbols-outlined">add</span>
        </button>
      </form>
    </div>

</div>
  <div class="pages-menu pdf_content">
    <h3>Pages</h3>
    <div *ngFor="let page of website.pages" class="page-item">
      <div class="info-item">ID: {{ page._id }}</div>
      <div class="info-item">{{ page.page_URL }}</div>
      <div class="info-item">Last evaluation: {{ page.eval_date | date:'short' }}</div>
      <div class="info-item">Monitoring state: <span class="monitor-state">{{ page.monitor_state }}</span></div>
      <button mat-icon-button (click)="deletePage(page._id)">
        <span class="material-symbols-outlined">delete</span>
      </button>
      <button mat-icon-button (click)="openSnackBar('Evaluation of the page has started!')" (click)="startEvaluation(page._id)">
        <span class="material-symbols-outlined">start</span>
      </button>
      <button mat-icon-button routerLink="/report-detail/{{page._id}}">
        <span class="material-symbols-outlined" id="visibility">visibility</span>
      </button>
    </div>
  </div>

  <button  mat-icon-button (click)='savePdf("websiteInfo")' >
    <span class="material-symbols-outlined">PDF save</span>
  </button>
</div>
</body>
