// Defina as variáveis de cores
$light-blue: #c4e3fe; // Azul claro para cabeçalhos
$lighter-blue: #e3f0fe; // Azul ainda mais claro para células
$lightest-blue: #ecf5fd; // O mais claro para hover
$gray: #e6e6e6; // Cinza para a mensagem "No data"

// Estilo da tabela
.mat-elevation-z8 {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px;
  background-color: #ffc266; // Cor de fundo da tabela
  border: 1px solid $light-blue; // Borda da tabela
}

// Estilo do cabeçalho da tabela
.mat-header-cell {
  background-color: $light-blue; // Cor de fundo do cabeçalho
  color: #333; // Cor do texto
}

// Estilo das células da tabela
.mat-cell {
  background-color: $lighter-blue; // Cor de fundo das células
}

// Estilo do hover
.mat-row:hover .mat-cell {
  background-color: $lightest-blue; // Cor de fundo quando a linha é hover
}

// Estilo da mensagem "No data"
.mat-row.mat-no-row:hover .mat-cell {
  background-color: transparent; // Cor de fundo quando a mensagem de "No data" é hover
}

.mat-row:nth-child(even) {
  background-color: $lighter-blue; /* Azul claro */
}

/* Estilo para as linhas pares (branco) */
.mat-row:nth-child(odd) {
  background-color: #ffffff; /* Branco */
}

// Estilo para o paginador
.mat-paginator {
  margin-top: 20px; // Espaçamento superior
}

// Estilo para a mensagem "No data"
.no-data {
  background-color: $gray; // Cor de fundo da mensagem "No data"
}

@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0');
.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
}

#delete {
  color: rgba(252, 23, 23, 0.893);
}

#visibility {
  color: grey;
}