<mat-form-field>
  <mat-label>Search</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. PSI" #input>
</mat-form-field>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>

  <!-- Id Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Id. </th>
    <td mat-cell *matCellDef="let website"> {{website.id}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let website"> {{website.name}} </td>
  </ng-container>

  <!-- URL Column -->
  <ng-container matColumnDef="URL">
    <th mat-header-cell *matHeaderCellDef> URL </th>
    <td mat-cell *matCellDef="let website"> {{website.URL}} </td>
  </ng-container>

  <!-- Register Date Column -->
  <ng-container matColumnDef="register_date">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Registered date</th>
    <td mat-cell *matCellDef="let website"> {{website.register_date | date:'short'}} </td>
  </ng-container>

  <!-- Eval Date Column -->
  <ng-container matColumnDef="eval_date">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Last evaluation date </th>
    <td mat-cell *matCellDef="let website"> {{website.eval_date | date:'short'}} </td>
  </ng-container>

  <!-- Monitor State Column -->
  <ng-container matColumnDef="monitor_state">
    <th mat-header-cell *matHeaderCellDef> Monitor State </th>
    <td mat-cell *matCellDef="let website"> {{website.monitor_state}} </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>Actions</th>
    <td mat-cell *matCellDef="let website">
      <button mat-icon-button routerLink="/website-detail/{{website.id}}">
        <span class="material-symbols-outlined" id="visibility">visibility</span>
      </button>
      <button mat-icon-button>
        <span class="material-symbols-outlined" id="delete">delete</span>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row class="mat-header-row" *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row class="mat-row" *matRowDef="let row; columns: displayedColumns;"></tr>

  <!-- Row shown when there is no matching data. -->
  <tr class="mat-row" *matNoDataRow>
    <td class="mat-cell no-data" [attr.colspan]="displayedColumns.length">No data matching the filter "{{input.value}}"</td>
  </tr>
</table>
<mat-paginator class="mat-paginator" [pageSizeOptions]="[10, 25, 50, 100]" showFirstLastButtons></mat-paginator>
<router-outlet></router-outlet>
